@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=cyrillic');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

strong {
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

#container {
    padding-top: 80px;
}

.c-gray, .c-gray * {
    color: #696969;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.fw300 {
    font-weight: 300;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.header {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 41, 9, 0.1);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

.header .container {
    padding: 20px 0;
}

.header .c-inf {
    padding: 10px 0 0 85px;
}

.c-inf * {
    display: inline-block;
    vertical-align: middle;
}

.c-inf a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: #38398d;
}

.c-blue {
    color: #38398d;
}

.c-inf strong {
    font-size: 10px;
    color: #b4b8c2;
    line-height: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}

.header .logo img {
    display: block;
}

.banner {
    background: #edf1f4;
    text-align: center;
}

.banner img {
    display: inline-block;
    width: auto;
    max-width: 100%;
}

.region {
    padding-top: 13px;
    padding-left: 60px;
}

.c-l-blue {
    color: #b4b8c2;
}

.region * {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.region-name {
    cursor: pointer;
    padding-right: 15px;
    position: relative;
}

.region-name:after {
    background: url("../images/bl-arr.png") no-repeat right;
    content: '';
    display: block;
    width: 8px;
    height: 5px;
    position: absolute;
    right: 0;
    top: 4px;
}

.region-name.open:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.region label {
    color: #b4b8c2;
}

.header .rp * {
    display: inline-block;
    vertical-align: middle;
}

.age {
    font-size: 12px;
    text-align: center;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid #b4b8c2;
    line-height: 25px;
    margin-right: 78px;
}

.green-btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 13px 35px;
    background: #008d21;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: 0;
    font-weight: 500;
}

.green-btn:hover {
    background: #00741b;
}

.region-list {
    background: #f1f5f9;
    padding: 0 0 30px;
    box-shadow: inset 0 -13px 15px -10px rgba(0, 41, 9, 0.1);
    display: none;
}

.region-search {
    position: relative;
    border-bottom: 1px solid #d8dcde;
    padding: 17px 0 17px 46px;
    margin-bottom: 30px;
}

.region-search i {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    color: #9fa3b0;
    top: 17px;
    right: auto;
    bottom: auto;
    font-size: 24px;
    line-height: 50px;
}

.region-search input {
    border: none;
    padding: 0;
    background: none;
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.region-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 20px;
}

.region-group {
    margin: 0 0 39px;
    padding: 0 0 0 30px;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

.region-letter {
    color: #00973A;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
}

.region-item {
    color: #363636;
    display: block;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
}

.region-item:hover {
    color: #00973A;
}

.c-white, .c-white * {
    color: #ffffff;
}

.blue-line {
    background: #38398d;
    position: relative;
    z-index: 100;
    box-shadow: 0 0 20px rgba(61, 79, 104, 0.35);
}

.blue-line .container {
    padding: 30px 0;
    line-height: 30px;
    text-transform: uppercase;
    position: relative;
}

.blue-line .container:after {
    content: '';
    border-bottom: 16px solid #38398d;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 0;
    right: 120px;
    bottom: 100%;
    position: absolute;
    display: block;
}

.blue-line p {
    background: url("../images/ico-prezent.png") no-repeat left 0;
    padding-left: 65px;
}

.h2 {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 50px;
}

.h3 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 28px;
}

.what-is .container {
    padding: 75px 0 100px;
}

.what-is .item .inf {
    min-height: 330px;
}

.what-is .item .inf .ins {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 330px;
}

.what-is .item {
    padding-left: 100px;
    overflow: auto;
    padding-bottom: 15px;
}

.what-is .item .fll {
    width: 500px;
}

.what-is .item .img img {
    display: block;

}

.what-is .item .flr {
    width: 570px;
}

.what-is span.c-gray {
    text-transform: uppercase;
    display: block;
    margin-top: 10px;
    line-height: 24px;
}

.what-is .inf p {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 25px;
}

.what-is .img.flr img {
    margin-left: 65px;
}

.sm-chaneels img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.blue-banner {
    position: relative;
    background: #e8f1ff;
    min-height: 312px;
    z-index: 100;
}

.blue-banner .h2 {
    margin-bottom: 0;
}

.blue-banner img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.blue-banner .container {
    padding-top: 40px;
}

.footer {
    border-top: 1px solid #e4e7eb;
}

.footer .container {
    padding: 35px 0;
    overflow: auto;
}

.logo img {
    display: block;
}

.footer .c-inf {
    padding: 10px 0 0 195px;
}

.footer .c-inf .phone {
    font-size: 32px;
}

.footer .c-inf strong {
    font-size: 13px;
    line-height: 15px;
    margin-left: 20px;
    text-transform: uppercase;
}

.footer .logo {
    display: block;
    margin-top: 10px;
}

.soc * {
    display: inline-block;
    vertical-align: middle;
}

.soc strong {
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 15px;

}

.soc a {
    position: relative;
    background: url("../images/soc-sprite.png") no-repeat;
    height: 49px;
    width: 49px;
}

.soc a:hover {
    opacity: 0.7;
}

.soc a + a {
    margin-left: 20px;
}

.soc .v {
    background-position: 0 0;
}

.soc .f {
    background-position: -74px 0;
}

.soc .t {
    background-position: right 0;
}

.copy {
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
}

.copy span {
    font-size: 14px;
}

.copy a {
    text-decoration: underline;
}

.copy a:hover {
    text-decoration: none;
}

.send-form .container {
    padding: 100px 0 120px;
}

.send-form .form {
    padding-left: 100px;
}

.form .form-item {
    width: 358px;
}

form .form-item + .form-item {
    margin-left: 45px;
}

.form input, .form .jqselect {
    display: block;
    width: 100%;
}

.form .jq-selectbox__select, .form .form-item > input {
    border: 1px solid #b8b8b8;
    background: #fff;
    height: 50px;
    box-shadow: none;
    border-radius: 0;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
}

.form .jq-selectbox__select-text {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    line-height: 49px;
    color: #333;
}

.form label {
    color: #b4b8c2;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 10px;
}

.form .item {
    padding-bottom: 35px;
}

.form .jq-selectbox__trigger {
    border: 0;
}

.form .jq-selectbox__trigger-arrow {
    display: none;
}

.form .jq-selectbox__dropdown {
    border-radius: 0;
    box-shadow: none;
    font-size: 16px !important;
}

.form .green-btn {
    cursor: pointer;
    padding: 0;
    width: 200px;
    height: 50px;
}

.step .container {
    position: relative;
    padding-bottom: 120px;
}

.step .item {
    padding-left: 100px;
}

.step-num {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    background: #009532;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 24px;
    line-height: 58px;
    text-align: center;
    box-shadow:  0 15px 25px rgba(61, 79, 104, 0.35);
}

.step .h3 {
    margin-bottom: 50px;
}

.package-head {
    padding: 20px 35px 20px 100px;
    border: 1px solid #e8e8e8;

}

.package-head.choice {
    background: #f1f5f9;
    border: 1px solid #b8b8b8;

}

.package-head .lp strong {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;

}

.show-chaneels {
    text-decoration: none;
    color: #009b40;
    font-weight: 500;
    margin-left: 20px;
    position: relative;
    padding-right: 18px;
}

.show-chaneels:after {
    content: '';
    position: absolute;
    right: 0;
    top: 8px;
    display: block;
    background: url("../images/green-chk.png") no-repeat;
    width: 10px;
    height: 5px;
}

.show-chaneels.open:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.package-head .rp .c-gray {
    display: block;
    margin-bottom: 5px;
}

.package-head .rp, .item-rad {
    overflow: hidden;
    position: relative;
}

.package-head .rp input, .item-rad input {
    position: absolute;
    left: -200px;
}

.package-head .rp .price, .item-rad .eq-price {
    display: inline-block;
    font-size: 36px;
    margin-right: 10px;
}

.package-head .rp .price-wrap > *, .item-rad .eq-prices > * {
    display: inline-block;
    vertical-align: middle;
}

.package-head .rp .price-wrap .fw500, .item-rad .eq-prices .fw500 {
    font-size: 14px;

}

.item-rad label .c-gray{
    font-size: 16px;
    display: block;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-right: 25px;
    position: relative;
}

.package-head .rp .price-wrap .fw500 span {
    font-weight: 500;
    text-decoration: underline;
}

.item-rad .eq-price + span span{
    text-decoration: underline;
    font-weight: 500;

}

.prices label, .item-rad label {
    display: block;
    position: relative;
    padding-left: 45px;
}

.prices label:before, .item-rad label:before {
    content: '';
    position: absolute;
    background: url("../images/rad-btn.png") no-repeat bottom;
    width: 22px;
    height: 22px;
    left: 0;
    top: 28px;
    display: block;
}

.prices input:checked + label:before, .item-rad input:checked + label:before {
    background-position: 0 top;
}

.tabs {
    padding-top: 20px;
    padding-right: 100px;
}

.tabs a {
    display: inline-block;
    padding: 6px 12px;
    text-transform: uppercase;
    font-size: 14px;
    color: #b4b8c2;
    font-weight: 500;
    border-radius: 2px;
    margin-right: 15px;
    vertical-align: top;
    text-decoration: none;
    margin-bottom: 3px;
}

.tabs a:hover, .tabs a.active {
    color: #fff;
    background: #38398d;

}

.package-consist .area > strong {
    display: block;
    padding-left: 100px;
    margin-bottom: 25px;
}

.package-consist .columns {
    padding-left: 45px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
}

.package-consist {
    padding: 35px 0 0;
    border: 1px solid #e8e8e8;
    border-top: 0;
    border-bottom: 0;
    box-shadow: inset 0 10px 18px -10px rgba(61, 79, 104, 0.35);
}

.chaneel{
    margin-bottom: 10px;
}

.chaneel * {
    display: inline-block;
    vertical-align: middle;
}

.chaneel img {
    width: 40px;
}

.chaneel span {
    font-size: 14px;
    color: #9fa3b0;
    margin-left: 10px;
    font-weight: 500;
    max-width: 200px;
}

.scroll {
    max-height: 380px;
    overflow: auto;
}

.scroll-wrap{
    padding-bottom: 20px;
}

.area {
    display: none;
}

.hide-chaneels {
    background: #f1f7fa;
    padding: 10px 0 10px 100px;
    border: 1px solid #e8e8e8;
}

.hide-chaneels span {
    background: url("../images/d-arr.png") no-repeat right 8px;
    padding-right: 18px;
    cursor: pointer;
}

.package.base {
    margin-bottom: 75px;
}

.dop-packages .package-head .lp strong {
    font-size: 18px;
}

.dop-packages .package-head {
    padding-left: 0;
}

.dop-packages .package {
    margin-bottom: -1px;
}


.item-chk{
    position: relative;
    overflow: hidden;
}

.item-chk input{
    position: absolute;
    left: -200px;
}

.item-chk label{
    cursor: pointer;
    display: block;
    padding-left: 100px;
    position: relative;
}

.package.base .package-head .lp{
    padding-top: 5px;
}

.dop-packages .package-head .rp{
    padding-top: 5px;
}

.item-chk label:before{
    content: '';
    position: absolute;
    left: 50px;
    top: 50%;
    background: url("../images/chk.png") no-repeat top;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    display: block;
}

.package .wrapper{
    display: none;
}


.item-chk input:checked+label:before{
    background-position: bottom;

}

.package-head.blue-bg{
    background: #38398d;
    border: 0;
    overflow: auto;
}

.package-head.blue-bg .lp strong{
    color: #ffffff;
    font-size: 24px;
    font-weight: normal;
}


.package-head.blue-bg .lp span{
    font-size: 18px;
    max-width: 600px;
    display: inline-block;

}

.package-head.blue-bg .rp{
    color: #ffffff;
    padding-top: 10px;

}

.package-head.choice{
    position: relative;
    z-index: 100;
}

.jspTrack, .jspVerticalBar{
    background: transparent;
}

.jspDrag{
    width: 6px;
    background: #d0d0d0;
    border-radius: 3px;
}

.c-green{
    color: #00963a;
}

.step3 .h3{
    padding-top: 16px;

}

.step3 .h3 + p{
    font-size: 24px;
    margin-bottom: 40px;
}

.step3 .container{
    padding-bottom: 165px;
}

.condition{
    width: 33.33%;
    text-align: center;

}

.condition p{
    line-height: 24px;
}

.condition .round{
    background: #00963a;
    width: 252px;
    height: 252px;
    border-radius: 126px;
    margin: 0 auto 30px;
    box-shadow: 0 33px 67px rgba(61,79,104, 0.35);
}

.condition .round .ins{
    display: table-cell;
    width: 252px;
    height: 252px;
    text-align: center;
    vertical-align: middle;
}

.condition .round .ins strong{
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
    font-family: 'Roboto Condensed', sans-serif;

}

.condition .round .ins .num{
    font-size: 50px;
    margin-bottom: 30px;
}

.that-all{
    background: #edf1f4;
}

.that-all .container{
    height: 320px;
    position: relative;
    padding-top: 45px;
}

.that-all p{
    font-size: 18px;
    line-height: 30px;
    padding-top: 15px;
}

.that-all img{
    display: block;
    position: absolute;
    right: -35px;
    bottom: 0;
}

.scroll {
     margin-right: 30px;
    overflow: hidden;
 }

.scroll.mCustomScrollbar.mCS_no_scrollbar {
    margin-right: 30px;
}

.scroll.mCustomScrollbar {
    margin-right: 0;
}


.mCSB_scrollTools .mCSB_draggerRail{
    width: 6px;
    border-radius: 3px;
    border: 0 !important;
    background-color: transparent;
}

.mCSB_scrollTools{
    opacity: 1;
}

.mCSB_scrollTools{
    width: 6px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: transparent;
}

.mCSB_scrollTools .mCSB_dragger, .mCSB_scrollTools .mCSB_dragger:hover{
    background: #d0d0d0 !important;
    width: 6px;
    border-radius: 3px;
    border: 0;
}

.step1{
    padding-top: 75px;

}

.step1 .h3{
    padding-top: 16px;
}

.step1 .h3 + p{
    font-size: 24px;
    margin-bottom: 25px;
    line-height: 28px;
}

.equipment{
    border: 1px solid #e8e8e8;
}

.equipment .block + .block{
    border-top: 1px solid #e8e8e8;
}

.equipment .block .lp>*{
    display: inline-block;
    vertical-align: middle;
}

.equipment .block .lp strong{
    display: block;
    font-size: 18px;
    line-height: 24px;
}

.equipment .block{
    padding: 30px;
    overflow: auto;
}

.equipment .block img{
    position: relative;
    margin: 0 auto;
}

.equipment .block.choice{
    background: #f1f5f9;
}

.equipment .block.first .lp > *{
    vertical-align: top;
}

.equipment .block.first img{
    top: 3px;
}

.equipment .block img {
    max-width: 100px;
}

.equipment .block .img{
    text-align: center;
    width: 100px;
    margin-right: 40px;
}

.equipment .block .lp p{
    line-height: 24px;
    padding-top: 15px;
}

.item-rad{
    display: inline-block;
}

.item-rad + .item-rad{
    margin-left: 35px;
}

.item-rad .eq-price .c-gray{
    display: inline-block;
    position: relative;
}

.equipment .block .lp{
    padding-top: 10px;
}

.equipment .block.first .lp{
    padding-top: 0;
}

.equipment .block.first .rp{
    padding-top: 30px;
}


.equipment .block.sec .lp{
    padding-top: 0;
}

.equipment .block.sec .rp{
    padding-top: 10px;
}
.faq:after{
    position: absolute;
    border: 1px solid #929292;
    font-size: 11px;
    content: '?';
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    line-height: 16px;
    right: 0;
    top: 0;
    text-align: center;

}

.faq{
    padding-right: 25px;
}

.plate .container{
    padding-left: 100px;
}

.plate .container{
    padding: 30px 0 120px 100px;
}

.plate-title .h3{
    text-transform: none;
    margin-bottom: 30px;
}

.plate-title .container{
    padding-left: 100px;
}

.attention p{
    background: url("../images/att-ico.png") no-repeat left 5px;
}

.attention .container:after{
    content: '';
    border-top: 16px solid #38398d;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 0;
    left: 120px;
    right: auto;
    top: 100%;
    bottom: auto;
    position: absolute;
    display: block;

}

.form .form-item > input.error{
    border: 1px solid #ff0000;
}

.step1.step .container {
    padding-bottom: 40px;
}

.item-chk .c-l-blue, .c-l-blue.choice-names {
    line-height: 20px;
}


.footer .first {
    max-width: 330px;
}

.footer .c-inf {
    padding: 10px 0 0 60px;
}

.banner img {
    display: none;
}

.banner .hide {
    display: block;
    margin: 0 auto;
}

.copy.mobile {
    display: none;
}

.last .item-rad label {
    display: block;
    position: relative;
    padding-left: 45px;
    height: 65px;
    margin-right: 337px;
}

.region-title {
    padding: 0 0 32px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #333333;
}

.wrap-regions + .wrap-regions {
    margin-top: 25px;
}

.region-title i {
    border:2px solid #9fa3b0;
    border-radius: 100%;
    display: inline-block;
    width: 15px;
    text-align: center;
    color: #9fa3b0;
    font-style: normal;
    line-height: 11px;
    font-size: 12px;
    height: 15px;
    cursor: pointer;
}

.region-title i:before {
    content: "?";
    font-weight:700;
    font-size: 12px;
}